@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Lobby</title>
    </head>
    <body>
        <div>
            <span id="onlineUserCountSpan">1</span>
            /
            <span id="totalUserCountSpan">1</span>
        </div>
        
        <!-- Script references. -->
        <script src="~/Scripts/jquery-2.0.3.min.js"></script>
        <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
        <script src="~/signalr/hubs"></script>

        <script src="~/Scripts/Lobby/index.js"></script>
    </body>
</html>